<mat-card>
    <mat-card-title>
        Section about us
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ad, veritatis placeat ratione ullam optio dolorum commodi non eaque impedit incidunt ex fugit natus dicta magni cupiditate in aliquid voluptatem.
      Veniam porro laborum reiciendis fugiat facilis error illum? Blanditiis quae amet odio soluta nulla accusantium suscipit reprehenderit ex saepe. Facere suscipit rem cupiditate nisi illum minus consequuntur delectus laudantium beatae!
      Fugiat voluptas eum facilis, placeat praesentium asperiores nisi, cum dolorem, eveniet quia optio minus vel exercitationem voluptates corporis illo suscipit alias voluptatem modi incidunt. Quidem iure pariatur molestiae quos excepturi.
    </mat-card-content>

</mat-card>
